* {
    font-family: Roboto, sans-serif;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
}

.gallery,
.banner {
    background-color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
}

header,
h1,
h4 {
    color: #f9faf8;
}

h3,
figcaption,
cite {
    color: #1f2937
}

a,
p {
    color: #e5e7eb;
}

blockquote {
    color: #1f2937;
}