* {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

body>div {
    padding: 0 2em;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h3 {
    color: #f9faf8;
    font-size: 24px;
    margin: 1em 0;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em 0;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4em;
    padding-bottom: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}

.hero-text h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.hero-text p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 700;
    padding: 0.5em 1.5em;
}

.hero figure img {
    width: 480px;
    height: 270px;
    object-fit: cover;
    object-position: 25% 15%;
}