* {
    font-family: Roboto, sans-serif;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo h3 {
    color: #f9faf8;
    font-size: 24px;
    margin: 1em;
}

.header-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 1em;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}